html,
body {
    text-align: center;
    background-color: lightgray;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.board {
    margin: 0 auto; /*From my friend Luiz*/
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    
  }

  img {
    margin: 3px;
  }

  #winMessage {
  
     padding: 25px;
  }